# Supabase internal
.branches
.temp

# Local env files
.env.keys
.env.local
.env.*.local
.env                 # service_role & DB URL (DO NOT COMMIT)

# Supabase migrations (optional)
migrations

# Edge Functions local env
functions/*/.env

# OS / editor files
.DS_Store
*.log
